.cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 80%;
  margin: auto;
}

.card-image {
  flex: 1;
  background: rgb(249, 249, 249);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card-image img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
}

.card-details {
  flex: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-text {
  margin: 5px 0;
  color: #555;
}

.final-price {
  color: #007bff;
  font-weight: bold;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.actions .form-select {
  max-width: 80px;
}

.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}

.overall-total {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}
